h3 {
    /* position: absolute;
    width: 1026px;
    height: 2676px;
    left: 3px;
    top: -46px; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 46px;
    text-align: justify;
    color: #000000;
}

h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 31px;
    text-align: justify;
    color: #000000;
}